/* headerの中身をどうするか、pは使いまわししない、nは使いまわす */
.p-header {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;

}

/* headerのlayout(位置)を決めている */
.l-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* class名1つでも良いけど、2つあると分かりやすい l,pは使い方が決まっている */

/* behore after 新人ハッカソンで出てきた文字の下にライン引くやつはこれでできる */
/* *,
  ::before,
  ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
  } */

.p-header_logo {
    width: 148px;
}

.POSSElogo {
    max-width: 100%;
}

.p-header_nav {
    margin-left: auto;
}

.p-header_nav_list {
    display: flex;
    gap: 32px;
}

.p-header_nav_item_link {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* なぜtramsparent */

a {
    background-color: transparent;
    text-decoration: none;
}
.date{
    display: flex;
}

.heart_input{
    margin-top: 100px;
}