/* headerの中身をどうするか、pは使いまわししない、nは使いまわす */
.p-header {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;

}

/* headerのlayout(位置)を決めている */
.l-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* class名1つでも良いけど、2つあると分かりやすい l,pは使い方が決まっている */

/* behore after 新人ハッカソンで出てきた文字の下にライン引くやつはこれでできる */
/* *,
  ::before,
  ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
  } */

.p-header_logo {
    width: 148px;
}

.POSSElogo {
    max-width: 100%;
}

.p-header_nav {
    margin-left: auto;
}

.p-header_nav_list {
    display: flex;
    gap: 32px;
}

.p-header_nav_item_link {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

/* 全体 */
.heart_container{
    font-family: 'Courier New', Courier, monospace;
}

/* 入力フォーム */
.date_data {
    width: 100%;
}

/* 仮置き */
.box {
    height: 100px;
}

.heart_inputContainer {
    width: 60%;
    margin: auto;
}

.heart_name_input,
.heart_subname_input {
    width: 90%;
    margin-left: -50%;
}

.heart_submit {
    width: 100%;
}

@media screen and (min-width: 900px) {

    /*ウィンドウ幅が720px以上の場合に適用*/
    textarea {
        width: 96%;
    }

    .date_data {
        display: flex;
        margin-left: 0%;
    }

    .heart_name_input,
    .heart_subname_input {
        width: 95%;
        margin-left: -50%;
    }
}

@media screen and (min-width:481px) and (max-width: 899px) {

    /*ウィンドウ幅が最大480pxまでの場合に適用*/
    textarea {
        max-width: 30em;
    }

    .profile_inputContainer {
        width: auto;
        margin-left: 10px;
    }

    .date_data {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    /*ウィンドウ幅が最大480pxまでの場合に適用*/
    textarea {
        max-width: 26em;
    }

    .heart_inputContainer {
        margin: 0 13%;
    }

    .date_data {
        display: flex;
        width: 50%;
    }

    .heart_name,
    .heart_subname {
        width: 50%;
        display: block;
    }

    .heart_submit {
        width: 113%;
    }

    .p-header_nav_item_link {
        font-size: 10px;
    }
}

/* footer */
.footer_copyright {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: solid 2px #eee;
}