/* headerの中身をどうするか、pは使いまわししない、nは使いまわす */
.p-header {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;

}

/* headerのlayout(位置)を決めている */
.l-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* class名1つでも良いけど、2つあると分かりやすい l,pは使い方が決まっている */

/* behore after 新人ハッカソンで出てきた文字の下にライン引くやつはこれでできる */
/* *,
  ::before,
  ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
  } */

.p-header_logo {
    width: 148px;
}

.POSSElogo {
    max-width: 100%;
}

.p-header_nav {
    margin-left: auto;
}

.p-header_nav_list {
    display: flex;
    gap: 32px;
}

.p-header_nav_item_link {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



a {
    background-color: transparent;
    text-decoration: none;
}

/* 全体 */
.speech_container{
    font-family: 'Courier New', Courier, monospace;
}

/**アコーディオン＊*/
.speech_acMenu_frame{
    width: 85%;
    margin: 0 auto;
}

#acMenu {
    margin-top: 100px;
}

dd {
    display: block;
    margin-inline-start: 0px;
}

#acMenu dt {
    display: block;
    text-align: center;
    border: #666 1px solid;
    cursor: pointer;

}

#acMenu dd {
    display: none;
    text-align: center;

}

.myprofile {
    border: 1px solid black;
    margin: 20px;
}


/* 入力フォーム */
.speech_input{
    width: 80%;
    margin: 10%git  auto;
}

.personal_data{
    width: 100%;
}

.speech_input_data {
    width: 100%;
}

input {
    width: 30%;
}

/* .speech_submit {
    text-align: center;
    width: 100%;
} */

label {
    display: inline-block;
    min-width: 5em;
}

img {
    width: 100%;
}

    .speech_submit{
        width: 100%;
    }


@media screen and (min-width: 900px) {

    /*ウィンドウ幅が720px以上の場合に適用*/
    textarea {
        width: 99%;
    }

    .speech_submit{
        width: 100%;
    }

}

@media screen and (min-width:481px) and (max-width: 899px) {

    /*ウィンドウ幅が最大480pxまでの場合に適用*/
    textarea {
        max-width: 34em;
    }
}

@media screen and (max-width: 480px) {

    /*ウィンドウ幅が最大480pxまでの場合に適用*/
    textarea {
        max-width: 24em;
    }

    .speech_input {
        width: auto;
        margin-left: 10px;
    }

    .p-header_nav_item_link {
        font-size: 10px;
    }
}

/* footer */
.footer_copyright {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: solid 2px #eee;
}